.audioPlayer {
   position: absolute;
   z-index: 3;
}
.topPosition {
   top: 20px;
   left: 20px;
}
.bottomPosition {
   bottom: 20px;
   left: 20px;
}
.audioPlay:hover {
   color: grey;
}
.audioPlayer:active {
   color: red;
}