.audioPlayer {
   background-color: inherit;
   padding: 10px 6px 7px 6px;
   position: absolute;
   z-index: 3;
}
.audioPlayer:hover {
   background-color: black;
   color: white;
   border: 1px solid red;
}
.audioPlayer:active {
   background-color: red;
   color: white;
   border: 1px solid black;
}
.topPosition {
   top: 20px;
   left: 20px;
}
.bottomPosition {
   bottom: 20px;
   left: 20px;
}