.containerWrapper {
   margin-top: 20px;
   margin-bottom: 60px;
   margin: auto;
   text-align: center;
}
.center {
   width: 100%;
   margin: 100px auto;
   text-align: center;
}
.font {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
}