.formContainer {
   display: flex;
   flex-direction: column;
}
.shoeSizeLabel {
   margin-right: 15px;
}
@media screen and (min-width: 415px) {
   .formContainer {
      width: 70%;
      margin: 10px auto;
   }
}